.color-theme__option {
    --color-theme-light-dark: url(/assets/icons/system.svg);
    --color-theme-light: url(/assets/icons/light.svg);
    --color-theme-dark: url(/assets/icons/dark.svg);
    /* position: relative; */
    /* padding: 4px; */
    /* height: 32px; */
    display: flex;
    align-items: center;
    /* width: 100%; */
    gap: 4px;
}
.color-theme__option::before{
    content: "";
    mask-size: cover;
    background-color: #000;
    &:where(.dark, .dark *) {
        background-color: #fff;
    }
    /* color: #000; */
    width: 20px;
    height: 20px;
    margin: auto;
    display:inline-block;
}

.color-theme__option[data-mode="system"]::before{
    mask-image: var(--color-theme-light-dark);
}
.color-theme__option[data-mode="light"]::before{
    mask-image: var(--color-theme-light);
    /* background: #000; */
}
.color-theme__option[data-mode="dark"]::before{
    mask-image: var(--color-theme-dark);
    background: white;
}
